body {
  background-image:url('images/background.jpeg');
  background-size:100%,100%;
}

a {
  color:rgb(190, 190, 10);
}
a:hover {
  color:rgb(100, 190, 110);
}
a:visited {
  color:rgb(190, 130, 10);
}

p, h1, h2 {	
  color: rgb(150, 230, 45);
  background-color: rgb(100, 60, 135);
  border: 3px solid rgb(160, 50, 135);
  font-family:Cambria;
}

div {
}
#centerer {
  display:flex;
  justify-content:center;
  align-content:center;
}
#creative {
  text-align:left;
}

#other {
  text-align:right;
}
