body {
	background-color: rgb(0, 12, 4);
}

p, h1, h2, h3, ul {
	color: rgb(233, 220, 200);
	font-family: calibri;
}

.button:hover {
	color: rgb(244, 125, 100);
	cursor: pointer;
}

a {
	color: rgb(244, 125, 100);
}

#row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#art {
	width: 30%;
	display: flex;
	flex-flow: column wrap;
}

#game {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height:400px;
}

#games {
	display: flex;
	flex-direction: column;
	margin: 30px;
	width: 70%;
	margin: 40px;
}

#music {
	display: flex;
	flex-direction: column;
}

#screenshots {
	display: flex;
	justify-content: end;
}

.artwork {
	width: 85%;
	margin: 10px;
}

#contact {
	display: flex;
	justify-content: center;
}

#other {
	text-align:right;
}

.hidden {
	visibility:collapse;
	height:0px;
	width:0px;
}

.shown {
	height:3000px;
}