body {

background-image: url(images/WIZAAARD.gif), url('images/the funniest image known to mankind.jpg');
background-size: 1000px 300px, 800px 800px;
background-position: left center, left top;
background-repeat: no-repeat, repeat;
background-image: "https://www.youtube.com/watch?v=iVTYdLg-iMs", "crouton.net";
}

h1 {
font-family:Kingthings Gothique Regular;
font-size: 400%;
color:rgb(240, 0, 120);
background-color:rgb(20, 0, 225);
border: 3px solid rgb(40, 235, 255);
text-align:center;
}

h2 {
color:yellow;
}

h3 {
color: gold;
}

p {
font-family:Cambria;
color: rgb(150, 230, 45);
background-color: rgb(100, 60, 135);
border: 3px solid rgb(160, 50, 135);
text-align:center;
}

a:link, a:visited {
color: rgb(150, 230, 45);
}

a:hover, a:active {
color: rgb(190, 110, 200);
}

canvas {
background-color:black;
border:3px solid magenta;
}